/* Defining the color palette of the website*/
:root {
    --dominant-color: #212a3e;
    --secondary-color: #394867;
    --accent-color: #a41c22;
    --accent-hover: #8b1f24;
    --black-color: #474747;
    --white-text: #fff;
    --white-text--hover: #d2d0db;
}

/* changing the color of text when selected */
::selection {
    background-color: var(--accent-color);
    color: var(--white-text);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    /* 62.5% of 16px = 10px*/
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

/*Property for every link*/
a:visited, a:link {
    text-decoration: none;
}

/*Property for the line*/
hr {
    border: 1px solid var(--secondary-color);
}

.interface {
}

/*styles the entire side menu*/
.menu {
    background: var(--dominant-color);
    height: 100vh;
    position: fixed;
    width: 20vw;
    left: 0;
    top: 0;
}

/*styles the side menu header*/
.header {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

/*styles the UB logo*/
.logo {
    width: 6rem;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.7rem;
    position: relative;
    left: 0;
    align-self: self-start;
}

/*styles the title in the menu header*/
.menu-title {
    font-weight: bolder;
    font-family: poppins;
    color: var(--white-text);
    font-size: 2rem;
    display: inline-block;
    margin: 0;
    align-self: center;
}

/*styles the menu lists*/
.menu-list {
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white-text);
    margin-left: 2.5rem;
}

.menu-list a {
    color: var(--white-text);
}

.menu-list li {
    margin-bottom: 3.4rem;
    padding: 0.5rem 1rem;
}

/*styles the menu lists of the page were currently in*/
.menu-list .highlight {
    background-color: #394867;
    border-radius: 20px 0 0 20px;
}

/*styles the section that counts number of registered students and organizations*/
.count h3 {
    background: #fff;
    color: var(--dominant-color);
    font-weight: bolder;
    font-size: 2rem;
    border-radius: 50%;
    padding: 0.8rem;
    width: fit-content;
    display: inline-block;
    margin: 2rem 2rem;
}

.count p {
    color: var(--white-text);
    font-weight: bolder;
    font-size: 1.4rem;
    display: inline-block;
}

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

footer p {
    text-align: center;
    color: var(--white-text);
    font-size: 1.5rem;
    opacity: 0.8;
}

/*Style the main section of the page*/ 

.main-content {
    width: 80vw;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Styles the catalog which contains all the cards*/
.catalog {
    border-radius: 20px;
    background-color: #d2daeb;
    width: 70vw;
    height: 100%;
    padding: 1.5rem;
    margin: 0 -5px;
}

.catalog:after {
    content: "";
    display: table;
    clear: both;
}

/*Styles the card catalogs title*/
.catalog h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--accent-color);
    font-family: poppins;
    margin-top: 0;
}

/*card containing internships*/
.card {
    width: 280px;
    margin: 8px 10px;
    background: #fff;
    border-radius: 40px;
    text-align: center;
    float: left;
}

.card-header {
    color: var(--white-text);
    font-family: poppins;
    font-weight: bolder;
    font-size: 1.3rem;
    background-color: var(--dominant-color);
    border-radius: 40px 40px 0 0;
    text-align: center;
    padding: 2px 0;
    overflow: hidden;
}

/*styles the internships table*/
table, th, td {
    border: 1px solid var(--dominant-color);
    border-collapse: collapse;
    padding: 1rem;
    margin: 1rem auto;
    font-size: 1.4rem;
}

/*styles the cards button*/
.card-body p {
    background: var(--accent-color);
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem 2rem;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    color: var(--white-text);
}

/*When mouse hovers over the button*/
.card-body p:hover {
    background: var(--accent-hover);
    color: var(--white-text);
    transition: all 0.2s ease;
}

/*styles card when they reach a certain width*/
@media screen and (max-width: 600px) {
    .card {
        display: block;
        margin-bottom: 30px;
    }
}

/*REGISTRATION FORMS*/

.form {
    width: 60vw;
    font-size: 2rem;
    transition: all 300ms ease-in-out 0ms;
}

textarea {
    resize: none;
}

.form-btn {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
    font-family: poppins;
    font-weight: bold;
    padding: 20px 0px 0px 0px;
}

.form-btn > div {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease-in-out 0ms;
}

.form .form-btn > div.active {
    background: var(--dominant-color);
    color: var(--white-text);
    transition: all 300ms ease-in-out 0ms;
}

.form-body {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.form .form-body > div {
    position: absolute;
    top: -150vh;
    opacity: 0;
    transition: opacity 300ms ease-in-out 0ms;
}

.form .form-body > div.active {
    top: 0px;
    opacity: 1;
    transition: opacity 300ms ease-in-out 0ms;
}

.form-body .input {
    border: none;
    border-bottom: 2px solid #fff;
    background: none;
    color: var(--white-text);
    padding: 0.5rem 1rem;
    outline: 0;
    margin: 0.9rem 1rem;
}

.input::placeholder {
    color: var(--white-text);
}

.form-company {
    background-color: var(--dominant-color);
    padding: 1rem;
}

.form-student {
    background-color: var(--dominant-color);
    padding: 1rem;
}